{% extends 'parent_page.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-6 grid-margin stretch-card bg-secondary " style="color:white" >
<div class="card bg-primary">
    <div class="card-body">
        <h4 class="card-title " style="color:white">Booking Status</h4>
         <form class="form-sample " >
             {% csrf_token %}


             <label class="form-label">Student </label><input class="form-control" value="{{data.student}}"><br>
             <label class="form-label">Booked By</label><input class="form-control" value="{{data.booked_by}}"><br>
            <label class="form-label">Booking Date</label><input class="form-control" value="{{data.booking_date}}"><br>
            <label class="form-label">Date</label><input class="form-control" value="{{data.date}}"><br>
           <label class="form-label">Status</label><br>
            {% if data.status == 0 %}
             <div class="p-3 bg-light text-primary d-flex justify-content-center"><b>Not Confirmed</b></div>
             {% elif data.status == 1 %}
          <div class="p-3  bg-success text-light d-flex justify-content-center"><b>Confirmed</b></div>
            {% else %}
           <div class="p-3 bg-danger text-white d-flex justify-content-center"><b>Rejected</b></div>
            {% endif %}
<!--        <label>{{data.student}}</label>-->
<!--        <label>{{data.booked_by}}</label>-->

         </form>
    </div>
</div>
</div>
{% endblock %}