{% extends 'parent_page.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .table {
        font-size: 15px;
    }


    .table td {
        max-width: 15px; /* Set the max-width to control when text wraps */
        word-wrap: break-word;
        overflow-wrap: break-word;white-space:normal;
    }

</style>
<script>
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });

}, 3000);

</script>
  <div class="column">
            <div class="col-lg-12">
                {% for i in messages %}
                <div class="alert alert-info alert-dismissable" role="alert">
                    {{i}}
                </div>
                {% endfor %}
            </div>
                                </div>
 <div style="background-color:#4B49AC;height:50px"><p style="padding-top:14px;padding-left:5px;color:#ffffff;font-family: 'Nunito', sans-serif;
    font-weight: 500;    font-size: 1rem;">REVIEWS</p></div>
<table class="table table-hover">
  <thead>
  <tr class="table-light">
    <th>DATE</th>
    <th>COMMENTS</th>
      <th>UPDATE</th>
      <th>DELETE</th>
  </tr>
  </thead>
  <tbody>
  {% for i in reviews %}
  <tr class="table-secondary">
    <td>{{i.date}}</td>
    <td>{{i.comments}}</td>
      <td><a href="{% url 'parent_review_update' i.id %} " class="btn-sm btn btn-primary">update</a></td>
     <td><a href="{% url 'parent_reviews_delete' i.id %}" class="btn-sm btn btn-danger">delete</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}