{% extends 'admin_page.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .table {
        font-size: 15px;
    }


    .table td {
        max-width: 15px; /* Set the max-width to control when text wraps */
        word-wrap: break-word;
        overflow-wrap: break-word;white-space:normal;
    }

</style>
        <div style="background-color:#4B49AC;height:50px"><p style="padding-top:14px;padding-left:5px;color:#ffffff;font-family: 'Nunito', sans-serif;
    font-weight: 500;    font-size: 1rem;">Reviews</p></div>
<table class="table table-hover" style="font-size:15px">
  <thead>
  <tr class="table-light">
  <th>SL NO</th>
    <th>DATE</th>
    <th>STUDENT</th>
    <th>COMMENTS</th>

  </tr>
  </thead>
  {% for i in data %}
  <tbody>
  <tr class="table-secondary">
    <td>{{forloop.counter}}</td>
    <td>{{i.date}}</td>
    <td>{{i.student.name}}</td>
    <td>{{i.comments}}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}